<app-nav-bar></app-nav-bar>
<div class="chips-container">
    <button class="chip-but">
        Chips
    </button>
    <div class="chips-cont">
        <p><span class="material-icons">brightness_1</span>Chip X<span class="vaca">Vaca X</span></p>
        <p><span class="material-icons">brightness_1</span>Chip X<span class="vaca">Vaca X</span></p>
        <p><span class="material-icons">brightness_1</span>Chip X<span class="vaca">Vaca X</span></p>
        <p><span class="material-icons">brightness_1</span>Chip X<span class="vaca">Vaca X</span></p>
        <p><span class="material-icons">brightness_1</span>Chip X<span class="vaca">Vaca X</span></p>
        <p><span class="material-icons">brightness_1</span>Chip X<span class="vaca">Vaca X</span></p>
        <p><span class="material-icons">brightness_1</span>Chip X<span class="vaca">Vaca X</span></p>
        <p><span class="material-icons">brightness_1</span>Chip X<span class="vaca">Vaca X</span></p>
        <p><span class="material-icons">brightness_1</span>Chip X<span class="vaca">Vaca X</span></p>
        <p><span class="material-icons">brightness_1</span>Chip X<span class="vaca">Vaca X</span></p>
        <p><span class="material-icons">brightness_1</span>Chip X<span class="vaca">Vaca X</span></p>
        <p><span class="material-icons">brightness_1</span>Chip X<span class="vaca">Vaca X</span></p>
        <p><span class="material-icons">brightness_1</span>Chip X<span class="vaca">Vaca X</span></p>
        <p><span class="material-icons">brightness_1</span>Chip X<span class="vaca">Vaca X</span></p>
        <p><span class="material-icons">brightness_1</span>Chip X<span class="vaca">Vaca X</span></p>
        <p><span class="material-icons">brightness_1</span>Chip X<span class="vaca">Vaca X</span></p>
        <p><span class="material-icons">brightness_1</span>Chip X<span class="vaca">Vaca X</span></p>
        <p><span class="material-icons">brightness_1</span>Chip X<span class="vaca">Vaca X</span></p>
        <p><span class="material-icons">brightness_1</span>Chip X<span class="vaca">Vaca X</span></p>
        
        
    </div>

    <button class="bubbly-button" routerLink="/config">Regresar</button>
</div>
