<app-nav-bar ></app-nav-bar>
<div class="ListAnimals">
    <ul class="lista-horizontal">
        <div class="container">
            <li>
                <img src="https://i.imgur.com/RIWkJyu.png" title="source: imgur.com" />
            </li>
            <li>
                <div class="elementos">
                    <span class="Animal">Josefina</span>
                <span class="Corral">Corral 1</span>
                </div>
            </li>
            <li>
                <span class="material-icons">location_on</span>
            </li>
        </div>
    </ul>
    <ul class="lista-horizontal">
        <div class="container">
            <li>
                <img src="https://i.imgur.com/DkCZ5UQ.jpg" title="source: imgur.com" />
            </li>
            <li>
                <div class="elementos">
                    <span class="Animal">Lola</span>
                <span class="Corral">Corral 2</span>
                </div>
            </li>
            <li>
                <span class="material-icons">location_on</span>
            </li>
        </div>
    </ul>
    <ul class="lista-horizontal">
        <div class="container">
            <li>
                <img src="https://i.imgur.com/hl84iZr.png" title="source: imgur.com" />
            </li>
            <li>
                <div class="elementos">
                    <span class="Animal">Rosita</span>
                <span class="Corral">Corral 5</span>
                </div>
            </li>
            <li>
                <span class="material-icons">location_on</span>
            </li>
        </div>
    </ul>
    <ul class="lista-horizontal">
        <div class="container">
            <li>
                <img src="https://i.imgur.com/6COiOAs.jpg" title="source: imgur.com" />
            </li>
            <li>
                <div class="elementos">
                    <span class="Animal">Janne</span>
                <span class="Corral">Corral 3</span>
                </div>
            </li>
            <li>
                <span class="material-icons">location_on</span>
            </li>
        </div>
    </ul>
    <ul class="lista-horizontal">
        <div class="container">
            <li>
                <img src="https://i.imgur.com/zXmFvhh.jpg" title="source: imgur.com" />
            </li>
            <li>
                <div class="elementos">
                    <span class="Animal">Francisca</span>
                <span class="Corral">Corral 1</span>
                </div>
            </li>
            <li>
                <span class="material-icons">location_on</span>
            </li>
        </div>
    </ul>
</div>