<app-nav-bar ></app-nav-bar>
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://i.imgur.com/RIWkJyu.png" class="img-fluid rounded-start" alt="..." >
      </div>
      <div class="col-md-8" >
        <div class="card-body">
          <h5 class="card-title">Vacas</h5>
          <p class="card-text">Vaca Josefina esta cerca del limite establecido.</p>
          <small class="text-body-secondary">Hace 5 minutos</small>
        </div>
      </div>
    </div>
</div>
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://i.imgur.com/RIWkJyu.png" class="img-fluid rounded-start" alt="..." >
      </div>
      <div class="col-md-8" >
        <div class="card-body">
          <h5 class="card-title">Gallinero Norte</h5>
          <p class="card-text">Hora de alimento</p>
          <small class="text-body-secondary">Hace 10 minutos</small>
        </div>
      </div>
    </div>
</div>
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://i.imgur.com/RIWkJyu.png" class="img-fluid rounded-start" alt="..." >
      </div>
      <div class="col-md-8" >
        <div class="card-body">
          <h5 class="card-title">Potrada Sur</h5>
          <p class="card-text">Necesitan tomar agua.</p>
          <small class="text-body-secondary">Hace 12 minutos</small>
        </div>
      </div>
    </div>
</div>
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://i.imgur.com/RIWkJyu.png" class="img-fluid rounded-start" alt="..." >
      </div>
      <div class="col-md-8" >
        <div class="card-body">
          <h5 class="card-title">Caballo Joel</h5>
          <p class="card-text">Esta fuera de los limites establecidos</p>
          <small class="text-body-secondary">Hace 15 minutos</small>
        </div>
      </div>
    </div>
</div>
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://i.imgur.com/RIWkJyu.png" class="img-fluid rounded-start" alt="..." >
      </div>
      <div class="col-md-8" >
        <div class="card-body">
          <h5 class="card-title">Vaca Lupe</h5>
          <p class="card-text">Signos vitales alarmantes.</p>
          <small class="text-body-secondary">Hace 13 horas</small>
        </div>
      </div>
    </div>
</div>
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://i.imgur.com/RIWkJyu.png" class="img-fluid rounded-start" alt="..." >
      </div>
      <div class="col-md-8" >
        <div class="card-body">
          <h5 class="card-title">Potrada Norte</h5>
          <p class="card-text">Hora de alimentos</p>
          <small class="text-body-secondary">Hace 23 horas</small>
        </div>
      </div>
    </div>
</div>

