<!-- <div class="login-container">
    <div class="icon-container">
        <span class="material-icons">account_circle</span>
    </div>
    <form action="">

    </form>
</div> -->


<!-- ---------------------------------------------------- -->


<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
        <div class="lobito">
            <img src="https://i.imgur.com/h0H9VTK.png" title="source:imgur.com"/>
        </div>    
        <form>
            <label for="chk" aria-hidden="true">Registrate</label>
            <input type="text" name="txt" placeholder="Nombre de usuario" required="">
            <input type="email" name="email" placeholder="Correo electrónico" required="">
            <input type="password" name="pswd" placeholder="Contraseña" required="">
            <button>Registrarme</button>
        </form>
    </div>

    <div class="login">
        <form class="login_form">
            <label for="chk" aria-hidden="true">Iniciar sesión</label>
            <input type="email" name="email" placeholder="Correo electrónico">
            <input type="password" name="pswd" placeholder="Contraseña">
            <button routerLink="/mapa">Iniciar sesión</button>
        </form>
    </div>
</div>