
img{
    border-radius: 5px 5px 0 0 ;
    width: 280px;
    height: 280px;
}

div.card{
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

span.material-icons {
    font-size: 15px;
    color: #000000;
  }

.intcard{
    text-align: center;
    font-size: 35px;
    background-color: aliceblue;
    width: 280px;
    height: 550px;
    border-radius: 5px;
}

.lista-horizontal {
    list-style: none;
    font-size: 13px;
    padding: 0;
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  
  .lista-horizontal li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    /* Puedes ajustar el margen derecho según tus necesidades */
  }
  
  .lista-horizontal li:last-child {
    margin-right: 0;
  }
