<app-nav-bar ></app-nav-bar>
<div class="card">
    <div class="intcard">
        <img src="https://i.imgur.com/RIWkJyu.png" alt="">
        Josefina <span style="font-size: 15px; display: block; text-align: center;">Corral 1</span>
        <ul class="lista-horizontal">
            <li>
                <span class="izq">Pulso: 70.83 </span>
            </li>
            <li>
                <span class="material-icons">done_outline</span>
                <span style="color: greenyellow;">Normal</span>
            </li>
        </ul>
        <ul class="lista-horizontal">
            <li>
                <span>Temperatura: 38.8°c </span>
            </li>
            <li>
                <span class="material-icons">done_outline</span>
                <span style="color: greenyellow;">Normal</span>
            </li>
        </ul>
        <ul class="lista-horizontal">
            <li>
                <span>Respiración: 25.24</span>
            </li>
            <li>
                <span class="material-icons">done_outline</span>
                <span style="color: greenyellow;">Normal</span>
            </li>
        </ul>
        <ul class="lista-horizontal">
            <li>
                <span>Estado actual: </span>
            </li>
            <li>
                <span style="color: greenyellow;">En reposo</span>
            </li>
        </ul>
    </div>
</div>
