<div class="topbar" style="display: flex; justify-content: center;">
  <ul class="lista-horizontal">
    <li><span class="material-icons derecha">local_mall</span></li>
    <li>{{path}} </li>
    <li><a href=""><span class="material-icons izquierda">account_circle</span></a></li>
  </ul>
</div>

<nav class="navbar-fixed-bottom">
  <ul>
    <li class="centrado"><a routerLink="/mapa" routerLinkActive="activo"><span class="material-icons">explore</span></a></li>
    <li class="centrado"><a routerLink="/signos" routerLinkActive="activo"><span class="material-icons">monitor_heart</span></a></li>
    <li class="centrado"><a routerLink="/notificaciones" routerLinkActive="activo"><span class="material-icons">notifications</span></a></li>
    <li class="centrado"><a routerLink="/serviciosMedicos" routerLinkActive="activo"><span class="material-icons">medical_services</span></a></li>
    <li class="centrado"><a routerLink="/config" routerLinkActive="activo"><span class="material-icons">settings</span></a></li> 
  </ul>
</nav>
