<app-nav-bar ></app-nav-bar>
<div class="container">

    <button class="boton">Informacion del usuario<span class="material-icons">arrow_right</span></button>
    <button class="boton">Servicio veterinario<span class="material-icons">arrow_right</span></button>
    <button class="boton">Subscripcion<span class="material-icons">arrow_right</span></button>
    <button class="boton">Chip<span class="material-icons">arrow_right</span></button>
    <button class="boton">Notificaciones<span class="material-icons">arrow_right</span></button>
    <button class="boton">Soporte<span class="material-icons">arrow_right</span></button>

    <div class="logout">
        <button class="boton_log">Cerrar Sesion</button>
    </div>
    
</div>
