<app-nav-bar></app-nav-bar>
<div class="container">

    <button class="boton" routerLink="/config/info-usuario">Informacion del usuario<span class="material-icons">arrow_right</span></button>
    <button class="boton" routerLink="/config/servicio-veterinario">Servicio veterinario<span class="material-icons">arrow_right</span></button>
    <!-- <button class="boton">Subscripcion<span class="material-icons">arrow_right</span></button> -->
    <button class="boton" routerLink="/config/chips">Chip<span class="material-icons">arrow_right</span></button>
    <button class="boton" routerLink="/config/notificaciones">Notificaciones<span class="material-icons">arrow_right</span></button>
    <button class="boton" routerLink="/config/soporte">Soporte<span class="material-icons">arrow_right</span></button>

    <div class="logout">
        <button class="boton_log" routerLink="/login">Cerrar Sesion</button>
    </div>
    
</div>
